<html>
<head>
    <meta charset="UTF-8">
    <title>헤더</title>
</head>
<body>
<div class="header d-flex justify-content-end align-items-center px-4">
    <span><a href="/logout">{{username}}</a>님</span>
</div>
</body>
</html> 